@font-face {
    font-family: Outfit-Regular;
    src: url("../assets/fonts/Outfit/static/Outfit-Regular.ttf");
    font-display: swap;
}
@font-face {
    font-family: Outfit-Light;
    src: url("../assets/fonts/Outfit/static/Outfit-Light.ttf");
    font-display: swap;
}
@font-face {
    font-family: Outfit-Bold;
    src: url("../assets/fonts/Outfit/static/Outfit-Bold.ttf");
    font-display: swap;
}

:root {
    --dark-blue: #006087;
    --medium-blue: #1E97C4;
    --green-blue: lightseagreen;
    --shell-sand: #FFF5EE;
    --light-sand: #EDD8C5;
    --desert-sand: #EDD1B6;
    --light-green: #90ee90;
    --star-color: white;
}

body{
    position: relative;
    display: block;
    font-family: "Outfit-Regular";
    max-width: 100%;
    color: var(--shell-sand);
    margin: 0;
    padding: 0;
    font-size: 18px;
    overflow-x: hidden;
}

body.night{
    background-color: #030F33;
}
body.evening{
    background-color: steelblue;
}
body.morning{
    background-color: plum;
}
body.afternoon{
    background-color: skyblue;
}

.celestial{
    position: absolute;
    display: inline-block;
    width: 100px;
    height: 100px;
    left: 15%;
    top: 15%;
}

.night .celestial, .evening .celestial{
    background: white;
}

.afternoon .celestial{
    background: #FFED73;
}

.morning .celestial{
    background: #ffff80;
    z-index: -1;
    bottom: 15%;
    top: initial;
    width: 15vw;
    height: 15vw;
}

.night{
    background-image:
    radial-gradient(var(--star-color), rgba(255,255,255,.2) 2px, transparent 10px),
    radial-gradient(var(--star-color), rgba(255,255,255,.15) 1px, transparent 0px),
    radial-gradient(var(--star-color), rgba(255,255,255,.1) 2px, transparent 10px),
    radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 0px);
    background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
    background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
}

div {
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
}

.container-fluid{
    padding: 0 !important;
    height: 100%;
    position: relative;
}

a, a:hover{
    text-decoration: none;
    color: white;
}

img{
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

.set-height{
    height: 100vh;
}

/* .stick{
    height: 100%;
    top: 0;
    text-align: center;
    align-self: center;
    z-index: 999999;
    position: fixed;
} */

.beach-wrapper{
    min-height: 30vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: end;
    max-height: calc(100vh - 35px);
}

.ocean-wrapper{
    background-color: var(--medium-blue);
    min-height: 70vh;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.beach-wrapper img{
    width: 100%;
    height: auto;
}

.whale{
    width: fit-content;
    position: absolute;
}

.small-animal{
    position: absolute;
    width: 8%;
}


.seaweed{
    width: 10%;
    position: absolute;
}

.seaweed.right{
    right: 0;
    transform: rotate(-90deg);
}

.seaweed.left{
    left: 0;
    transform: rotate(90deg);
}

.seaweed.bottom{
    bottom: 10%;
}

/* effects */

.from-right-to-left{
   right: -100%;
}
.from-left-to-right{
   left: -100%;
}

.fadein {
	opacity:0;
}

.slideinleft {
    margin-left:-100%;
    max-width:100%;
}

.slideinright {
    margin-right: -100%;
    max-width:100%;
}
    

/* speech bubble */

.box {
    background: white;
    text-align: center;
    font-weight: 900;
    color: var(--dark-blue);
    position: absolute;
    border-radius: 20px;
    border: 50% solid white;
}

.topleft{
    left: 0%;
    top: 20%;
}

.topright{
    right: 0%;
    top: 20%;
}

.bottomleft{
    left: 0%;
    bottom: 20%;
}

.bottomright{
    right: 0%;
    bottom: 20%;
}
/* 
.top{
    top: 20%;
}

.bottom{
    bottom: 20%;
} */

/* footer */

  footer, header{
      background-color: #161b22;
  }

  /* animations */

  .glowing{
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 1);
    animation: glow 2s infinite;
  }

  @keyframes glow {
    0% {
      box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
    }
    
    70% {
      box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
    }
    
    100% {
      box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    }
  }

.floating { 
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    /* margin-left: 30px;
    margin-top: 5px; */
}
 
@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 15px); }
    100%   { transform: translate(0, -0px); }   
}

.pulsing {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 1);
    animation: pulse-white 2s infinite;
  }
  
  @keyframes pulse-white {
    0% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
    }
    
    70% {
      transform: scale(1);
      box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
    }
    
    100% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    }
  }

  /* responsive */

  @media (max-width: 768px){
      body{
          font-size: 12px;
      }
      .seaweed{
        width: 10%;
    }
    .whale{
        width: 55%;
    }
  }